@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
@import url('components.css');

.display-orders{
   text-align: center;
   padding-bottom: 0;
}

.display-orders p{
   display: inline-block;
   padding:1rem 2rem;
   margin:1rem .5rem;
   font-size: 2rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.display-orders p span{
   color:var(--red);
}

.display-orders .grand-total{
   margin-top: 2rem;
   font-size: 2.5rem;
   color:var(--light-color);
}

.display-orders .grand-total span{
   color:var(--red);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.checkout-orders .container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%);
}

.checkout-orders .container form{
  padding:20px;
  width:900px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.checkout-orders .container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.checkout-orders .container form .row .col{
  flex:1 1 250px;
}

.checkout-orders .container form .row .col .title{
  font-size: 30px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.checkout-orders .container form .row .col .inputBox{
  margin:15px 0;
}

.checkout-orders .container form .row .col .inputBox span{
  margin-bottom: 15px;
  display: block;
  font-size: 15px;
}

.checkout-orders .container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.checkout-orders .container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.checkout-orders .container form .row .col .flex{
  display: flex;
  gap:15px;
}

.checkout-orders .container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.checkout-orders .container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.checkout-orders .container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.checkout-orders .container form .submit-btn:hover{
  background: #2ecc71;
}